<section class="create-game page-content" [formGroup]="createGameForm">
  <h2>
    Tworzenie nowego koła
  </h2>

  <mat-form-field class="create-game__form"
                  appearance="outline"
                  color="primary"

  >
    <mat-label>Wprowadź nazwę koła</mat-label>
    <input matInput type="text"
           formControlName="name"
    >
    <mat-error>
      {{createGameForm.get('name')?.errors | extractErrors}}
    </mat-error>
  </mat-form-field>

  <mat-radio-group class="d-flex flex-column align-start"
                   formControlName="type"
  >
    <mat-radio-button value="single">Losowanie pojedyńczej osoby</mat-radio-button>
    <mat-radio-button value="multiple" disabled>Losowanie listy osób</mat-radio-button>
  </mat-radio-group>

  <ng-container *ngIf="createGameForm.get('type')?.value == 'single'">
    <div class="example-label-container u-mt-1">
      <label id="example-name-label" class="example-name-label">Długość pojedyńczego losowania: </label>
      <label class="example-value-label">{{createGameForm.get('singleGameTime')?.value}} sekund</label>
    </div>
    <div class="u-full-width">
      <mat-slider
        class="example-margin u-full-width d-block"
        [max]="10"
        [min]="2"
        [step]="1">
        <input matSliderThumb formControlName="singleGameTime">
      </mat-slider>
    </div>
  </ng-container>

  <button class="u-full-width u-mt-2"
          color="accent"
          mat-flat-button
          (click)="createGameForm.valid && createGame()"
  >
    Utwórz
  </button>

</section>
