<div class="wheelContainer" (click)="wheelClick()">
    <swal
  #winnerSwal
  title="Winner"
  icon="question"
  [showDenyButton]="true"
  [customClass]="{ confirmButton: 'continue-with-btn', cancelButton: 'continue-without-btn' }"
  confirmButtonText="continue with the winner"
  denyButtonText="continute without the winner"
  (deny)="removeWinnerAndReset()" 
  (confirm)="resetWheel()">
</swal>
    <canvas id="pointerCanvas" width="{{width}}" height="{{pointerHeight}}" ></canvas>
    <canvas id="wheelCanvas" width="{{width}}" height="{{height}}" ></canvas>
</div>