:host{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.wheelContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
#wheelCanvas {
    width: 500;
    height: 500;
}