:host{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
.continue-with-btn{
}
.continue-without-btn{
}
}

.wheelContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
#wheelCanvas {
    width: 500;
    height: 500;
}
