<section class="game page-content" *ngIf="gameState$ | async as gameState">
  <ng-container *ngIf="gameState.game">
    <h2>
      {{gameState.game.name}}
    </h2>

    <mat-divider></mat-divider>

    <h3>
      {{gameState.game.currentQuestion}}
    </h3>

    <!-- TODO <i>Tytuł losowania</i>-->

    <!-- TODO KOŁO fortuny (jako osobny komponent powinno pójść, i jako argumenty zawierać liczbe części -->
    <app-wheel></app-wheel>
    <!-- TODO Ilość osób co dołączyła -->
    <mat-divider></mat-divider>

    <div class="game__participants">
      <div class="game__single-participant"
           *ngFor="let singleParticipant of gameState.game.participants">
        <img [src]="singleParticipant.photoUrl" alt="User image"/>
      </div>
    </div>


    <!-- TODO Kod dołączenia do skopiowania -->

    <button class="u-full-width u-mt-2"
            color="accent"
            mat-button>
      Utwórz
    </button>
  </ng-container>


</section>
