:host {
  display: flex;
  justify-content: center;
}

.game {
  width: 100vw;
  display: block;

  h2 {
    font-size: 1.5rem;
    text-align: center;
  }

  &__participants {
    margin-right: .2rem;
    display: flex;
  }

  &__single-participant {
    &:not(:last-child) {
      margin-right: .2rem;
    }

    height: 2.5rem;
    width: 2.5rem;
    border-radius: 50%;
    overflow: hidden;

    & > img {
      height: 2.5rem;
      width: 2.5rem;
    }
  }
}
