//.mat-focused .mat-form-field-label {
//  /*change color of label*/
//  color: white !important;
//}
//
//.mat-form-field-underline {
//  /*change color of underline*/
//  background-color: white !important;
//}
//
//.mat-form-field-ripple {
//  /*change color of underline when focused*/
//  background-color: white !important;
//}
//
//
.mdc-button.mat-custom-button-primary {
  background-color: var(--button-background-color--primary-dark);
  border-radius: 10px;
  height: 2.5rem;
}

.mdc-text-field:not(.mdc-text-field--disabled) .mdc-text-field__input {
  color: var(--tile-text-on-color--primary-dark);
}

.mdc-text-field:not(.mdc-text-field--disabled) .mdc-floating-label {
  color: rgba(172, 88, 241, 0.63);
}

.mat-form-field-appearance-outline .mdc-notched-outline > div {
  border-color: rgba(172, 88, 241, 0.63) !important;
  // opacity: 1!important;
}

.mat-mdc-radio-button .mdc-form-field {
  color: rgba(172, 88, 241, 0.63);
}

.mat-mdc-radio-button .mdc-radio .mdc-radio__native-control:enabled:not(:checked) + .mdc-radio__background .mdc-radio__outer-circle {
  border-color: rgba(172, 88, 241, 0.63) !important;
}

.mat-divider {
  border-color: rgba(172, 88, 241, 0.3);
}

// TODO - pytanie czy chcemy się pierdzielić zthemowaniem przez angular materials.
//@use '@angular/material' as mat;
//
//@include mat.core();
//
//$my-palette: (
//  50: #e8eaf6,
//  100: #c5cae9,
//  200: #9fa8da,
//  300: #7986cb,
//  400: #992cee,
//  500: #8300e2,
//  600: #6f00dc,
//  700: #5000d5,
//  800: #2b05cd,
//  900: #0010bf,
//  contrast: (
//    50: rgba(black, 0.87),
//    100: rgba(black, 0.87),
//    200: rgba(black, 0.87),
//    300: white,
//    400: white,
//    500: white,
//    600: white,
//    700: white,
//    800: white,
//    900: white
//  )
//);
//
//$my-primary: mat.define-palette($my-palette, 500);
//$my-accent: mat.define-palette($my-palette, 200, 100, 400);
//
//$my-theme: mat.define-light-theme((
//  color: (
//    primary: $my-primary,
//    accent: $my-accent,
//  ),
//  typography: mat.define-typography-config(),
//  density: 0,
//));
//
//// Emit theme-dependent styles for common features used across multiple components.
//@include mat.core-theme($my-theme);
//
//// Emit styles for MatButton based on `$my-theme`. Because the configuration
//// passed to `define-light-theme` omits typography, `button-theme` will not
//// emit any typography styles.
//@include mat.all-component-colors($my-theme);
//
//// Include the theme mixins for other components you use here.
