<section class="main-page">

  <app-tile-primary class="main-page__tile"
                    text="Dołącz do losowania"
                    routerLink="/home/join"
                    routerLinkActive="active"
                    icon="shuffle"

  >
  </app-tile-primary>

  <app-tile-primary class="main-page__tile"
                    [disabled]="!(userLoggedIn$ | async)"
                    [class.main-page__tile--disabled]="!(userLoggedIn$ | async)"
                    routerLink="/home/create"
                    icon="add_circle"
                    text="Stwórz nowe koło fortuny">
  </app-tile-primary>

</section>
