<mat-toolbar class="toolbar">

  <div class="toolbar__user-profile" *ngIf="authState$ | async as authState">
    <div class="toolbar__logged-user" *ngIf="authState.loggedIn; else logOutUser">
      <img [src]="authState.loggedUser!.imageUrl" alt="User image"/>
    </div>
    <ng-template #logOutUser>
      <mat-icon>
        account_circle
      </mat-icon>
    </ng-template>
  </div>
  <button mat-icon-button class="toolbar__menu"
          [matMenuTriggerFor]="menu" >
    <mat-icon>menu</mat-icon>
  </button>

  <mat-menu #menu="matMenu">
    <ng-container *ngIf="authState$ | async as authState">
      <button mat-menu-item *ngIf="!authState.loggedIn"
              (click)="login()"
      >
        Zaloguj
      </button>

      <button mat-menu-item *ngIf="authState.loggedIn"
              (click)="logout()"
      >
        Wyloguj
      </button>
      <button mat-menu-item *ngIf="authState.loggedIn" routerLink="/user">
        Twój profil
      </button>
    </ng-container>
  </mat-menu>
</mat-toolbar>
