
:root {
  --background-color--primary-dark: #181922;
  --header-background-color--primary-dark: #301E67;
  --header-text-on-color--primary-dark: white;
  --tile-background-color--primary-dark: #222232;
  --tile-text-on-color--primary-dark: #AC58F1;

  --button-background-color--primary-dark: #AC58F1;

  --color-gray--1: #b4b4b4;
}

