
:root {
  --background-color--primary-dark: #181922;
  --header-background-color--primary-dark: #11111d;
  --header-text-on-color--primary-dark: white;
  --tile-background-color--primary-dark: #222232;
  --tile-text-on-color--primary-dark: #7d6ba0;
  --tile-shadow-color: #7861a5;


  --color-gray--1: #b4b4b4;
}

