<div class="container">
  <div class="row" *ngIf="authState$ | async as authState">
    <div class="col-12">
      <mat-card class="example-card">
        <mat-card-header class="aaa">
          <div mat-card-avatar class="avatar"
               style="background-size: contain"
               [ngStyle]="authState ? {'background-image': 'url('+authState.loggedUser.imageUrl+')'} : {}">
          </div>
          <mat-card-title class="bbb">{{authState.loggedUser.username}}</mat-card-title>
        </mat-card-header>
      </mat-card>
    </div>

  </div>
</div>
