.user-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__profile {
    & > img {
      width: 65%;
      border-radius: 50%;
      display: block;
      margin: 1rem auto;
      border: 2px solid gold;
    }
  }

  &__name {
    font-size: 1.3rem;
    margin: auto;
    margin-bottom: 2rem;
  }

}
.avatar {
  width: 20vh;
  height: 20vh;
  font-size: 20vh;
}
.aaa{
  background-color: #151422;
  flex-direction: column;
  align-items: center;
}

.bbb{
  font-size: 4vh;
  margin-top: 2vh;
  text-align: center;
}
